<% if user_signed_in? && (current_user.email == "dayanm@uninorte.com" || current_user.email == "hector@uninorte.com" || current_user.email == "julian@uninorte.com") %>
<h1>Votantes<h1>

<% @place.voters.each do |voter| %>
	  <p>
	    <strong>Votante: </strong>
	    <%= voter.nombre %>
	  </p>
	 
	  <p>
	    <strong>Cedula: </strong>
	    <%= voter.cedula %>
	  </p>
<% end %>
<%= link_to 'Nuevo votante', new_place_voter_path(@place) %>
<%end%>
<%= link_to 'Volver', place_path(@place[:id]) %>
