<%= form_for :place, url: places_path do |f| %>
	<h1>Cartilla de votación</h1>
	<h2>¿Apoya usted el acuerdo final para la terminación del conflicto y la construcción de una paz estable y duradera?</h2>
	<strong><h1><%= link_to 'SI', %></h1></strong> <strong><h1>NO</h1></strong>
<% end %>