
<%= form_tag "/search/create", method: :get, remote:  true, id:"search-form" do %>
	<%= text_field_tag :keyword, nil, placeholder: "Buscar puesto" %>
	<%= content_tag :button, type: :submit do %>
	buscar
	<%end%>
<%end%>

<div id="resultados">
	

</div>
